[2016-05-31 20:31] ansgmlen opened #1 "How to check available printers?"
I am trying to integrate with this model
Brother High-Speed Label Printer with Wireless Networking (QL710W)

in Cordova project.
Is it possible to work this printer?
Thanks

[2016-07-16 01:32] gordol commented on #1
Hi @ansgmlen, sorry for the late response, I just noticed your message here...

See here for a list of compatible printers: http://www.brother.com/product/dev/mobile/android/index.htm

QL-710W is indeed compatible.

I just updated the project README with some instructions on how to configure your printer for use with this plugin.

Just put your model name here: https://github.com/3screens/cordova-

[2016-07-16 01:32] #1 closed

[2016-08-26 17:41] gordol opened #2 "model configuration via config.xml"
Today I received an email from someone wanting support to configure the model via the config.xml...

I've tossed up a work in progress branch (dev) here: https://github.com/3screens/cordova-brother-label-printer/commit/e2c27e3ab8af600b9866d28cd7ed65e087c5486d

Now you can set the printer from the config.xml:

[code]

However, there are two other places where the Brother SDK expects a printer model

[2016-09-06 18:17] gordol commented on #2
I think this may do what we need...

https://github.com/3screens/cordova-brother-label-printer/commit/6264d3709d15a2adb331885def00312dfb450cda

[2017-01-24 04:47] eugenedw opened #4 "Plugin Configuration XML States Camera is Required"
First off, great plugin - saved me after hours of trying to figure out why every driver for our Brother label printer wasn't working.

We automate builds and plugin updates. Our build script is failing due to duplicate entries for camera use. I see in your plugin.xml you state that the camera is required:

`<uses-feature android:name="android.hardware.camera" android:required="true" />`

Is this t

[2017-02-24 23:27] bnowacky commented on #4
@eugenedw , Have you tried it with the line commented out? If it runs, we can remove it. I don't believe it's needed.

[2017-02-25 03:50] eugenedw commented on #4
Thanks for asking. Yes, we've proceeded with storing a slightly customized version of the plugin for future builds that excludes this camera requirement. We've automated the builds to pull from a local folder. Here's an excerpt the plugin.xml file that we have:

&lt;config-file target="AndroidManifest.xml" parent="/manifest"&gt;
            &lt;uses-permission android:name="android.permission.CAME

[2017-03-08 11:18] Hiugsor opened #5 "Problem to add the plugin on angularJS Code"
Hi,

First, I would thank the creator of the plugin for his work.

I'm trying to add the plugin on an Ionic Angular code, but despite the documentation, i don't know how to call the plugin's functions. If it work like other cordova plugins, we shoud call them like:

`cordova.plugins.BrotherPrinter.findNetworkPrinters();
cordova.plugins.BrotherPrinter.printViaSDK(doc);`

or

`window.plugin.BrotherP

[2017-04-07 09:08] Hiugsor commented on #5
This plugin is officially dead and there is no longer any contributor to give an easy answer??

Can you explain more how you use your functions. printViaSDK is not able to reconize the call of findNetworkPrinter. Unless it is necessary to give it an input variable that is not quoted in the doc ...

[2017-05-12 00:58] RSF-Deus opened #6 "Thanks to your plugin, I was able to make my own."
Tell me what you think about it ! If you ever happen to still work on it :

https://github.com/Random-Shit-Factory/BrotherPrinterCordova

[2017-05-26 03:58] gordol commented on #5
There is nothing special about this...

It's just 3 methods and they forward calls to the native java code: https://github.com/3screens/cordova-brother-label-printer/blob/master/www/printer.js

Examples:
[code]

[2017-05-26 03:58] #5 closed

[2017-05-26 04:05] gordol commented on #6
Hi, it really would have been nice if you had forked normally so you could push your changes back to help make this plugin better.

Instead, you lifted all the code into your own repo, and removed our attribution and copyright notice from the license and replaced it with your own.

Now your repository can't be merged back with ours easily.

Glad this was of some help at least, and please do feel f

[2017-05-26 04:05] #6 closed

[2017-05-26 04:08] gordol commented on #4
Hmm...

@eugenedw I see that your build still has the camera permission.... is that required?

[2017-05-26 13:01] RSF-Deus commented on #6
oops, I'm kind of a begginner with cordova plugins etc... So I started "from scratch" with a plugin example code from another user who provides a blank cordova plugin interface, but I didn't take your code and adapt it, I inspired myself from it, if you look at the code you'll notice that it has almost no ressemblance to yours, it is actually even not using the same libraries. You were just my sta

[2017-05-26 13:07] RSF-Deus commented on #5
It is admirable to have taken the time to answer to my friend now, but we do now have our own solution as you may be aware so nothing to be worry about :) he is a begginer in Cordova Plugins technology and that's where I came to help.
Still, I would like to take some time to say FUCK YOU BROTHER for not providing a JavaScript / Web SDK, me and my friend lost almost an entire month of work because

[2017-05-26 15:14] gordol commented on #6
Ahh, I didn't really look closely so I didn't realize you just use the same structure and rewrote everything. Neat...

Best of luck with it!

[2017-05-26 15:16] gordol commented on #5
I have had pretty good luck contacting Brother, but we contacted them via our company, not as an individual, and we also purchased a lot of printers from them for a client... soooo... yeah that probably helps to get a rep on the phone.

They provide an example app for IOS, but it's HORRIBLE. Instead I elected to reverse engineer the core pieces while reviewing their horrific documentation... This

[2017-05-26 16:05] RSF-Deus commented on #5
Interesting to know about the iOS part, guess I'll tell my team to maybe not consider porting our app to iOS if possible, actually we are also part of a company that purchased a lot of printers from them ! Maybe we didn't say the magic word ? :D

[2017-05-26 16:31] gordol commented on #5
I meant to say Android, not iOS. :) Sorry...

[2017-05-26 16:31] gordol commented on #5
But judging by what I saw in their Android app, the iOS one is probably just as bad. Haha!

[2017-06-06 01:30] sllobera opened #7 "PrinterStatus: ERROR_INTERNAL_ERROR"
HI
trying to print an image using printViaSDK

find the printer ok ( QL-720nw) but get PrinterStatus: ERROR_INTERNAL_ERROR when trying to send to printer

using SDK demo app works ok.

tried everything, cant figure it out

[2017-06-23 19:05] Ayiga commented on #7
Hello @sllobera.  I just figured this out.  This plugin doesn't request permission for `Manifest.permission.WRITE_EXTERNAL_STORAGE`.  This needs to be requested from the user when the app launches.  The Brother printer writes all print jobs to storage before printing them, so it doesn't have to hold them in memory.

Adding the following to `BrotherPrinter.java` fixed the issue for me.  I've been t

[2017-07-07 21:44] gordol commented on #7
@Ayiga can you please send a pull request with your fix? Should those permissions be set in the config xml?

[2017-07-07 21:45] gordol commented on #7
Hmm, that is indeed in the XML already.

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />`

Is this a new permissions method for newer android versions?

[2017-07-11 21:26] Ayiga commented on #7
@gordol It's in newer versions of Android.  `PERMISSION_WRITE_EXTERNAL_STORAGE ` used to be an implicit permission that didn't require asking the user at runtime.  Including it within the Manifest file was enough to grant permission.  However, now (I believe as of Android N) you have to explicitly request the permission at runtime.

I don't quite have a pull request for this issue.  I've been maki

[2017-07-11 21:29] sllobera commented on #7
Ill be interested on iOS version as I don’t have the time to do it myself

Tnx

From: Ayiga <notifications@github.com<mailto:notifications@github.com>>
Reply-To: gordol/cordova-brother-label-printer <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, 12 July 2017 at 7:26 am
To: gordol/cordova-brother-label-printer <cordova-brother-label-printer@noreply.github.com<mailto:cordov

[2017-07-12 00:36] gordol commented on #7
Indeed, this is a Cordova plugin, so IOS PR are much welcomed!

[2017-07-31 01:11] arcadius commented on #7
@Ayiga : Any progress on the support for iOS? :+1:

[2017-07-31 01:25] arcadius commented on #7
Just an Off topic question:

(Note that I am new to label printing ...)

1- Is a p-touch template required for printing using this cordova plugin?

2-  Would this https://play.google.com/store/apps/details?id=com.brother.printservice&hl=en_GB
help print directly to from an app without this cordova plugin?
I have tried but the Brother Print Service could not find my QL-710w

Thank you very much.

[2017-07-31 10:06] arcadius opened #8 "Is there a Better way to Label Printing?"
First, I would like to thank you all @gordol , @momzor @ayiga , @sllobera , @ltrtom  for your hard work.

This is rather a set of questions

(Note that I am new to label printing ...)

1-  Would this https://play.google.com/store/apps/details?id=com.brother.printservice&hl=en_GB
help print directly from an app without this cordova plugin?
I have tried but the Brother Print Service could not find m

[2017-08-01 23:02] gordol commented on #8
Hi @arcadius

Glad you got some use from this plugin. It is most definitely rough around the edges... so thanks for your patience.

There are no universal printing solutions for Android at the moment, that I'm aware of. Every manufacturer has proprietary drivers and APIs.

That being said, what are the 10 manufacturers that you need to support? If someone can get me the label printers, I'm happy t

[2017-08-06 11:26] arcadius commented on #8
Thank you very much @gordol  for your message.
Most appreciated. :+1:
For now, I need support only for Brother label printers .... I'll focus on that for now.
Thank you very much for starting work on this.
I am currently working on a fork at
https://github.com/MenelicSoftware/cordova-plugin-brother-label-printer
and I will be adding support for Windows and later iOS too.

Later on, we can discuss

[2017-08-17 06:42] dev-fJ-del opened #9 "Plugin Usage"
First of all, thank you @gordol  for the hard work put into this project, we all appreciate it.
I'm quite new to this .git and plugin environment, and would like to know if it is possible to provide a usage instruction as in real-life scenario.

I've found the printer(RJ-4040), but calling the printViaSDK with base64 image, returns error code:ERROR_NOT_SAME_MODEL
Code:
[code]
I've ensured that my

[2017-08-18 06:15] gordol commented on #7
@arcadius  We have an open PR for IOS support here: https://github.com/gordol/cordova-brother-label-printer/pull/10

I'm about to merge it to dev branch, but it needs a little more work for full IOS support. (no bluetooth yet)

It also has support for better printer model handling. Please give it a try after I merge to dev, and let me know if you have any issues?

[2017-08-18 06:24] gordol commented on #9
Hi, can you try the new changes that are on the dev branch?

Now you can get a list of printers, and select the one you want. The readme needs to be updated, but take a peek at www/printer.js at the findNetworkPrinters and setPrinter methods.

[2017-08-18 06:25] gordol commented on #8
Hi @arcadius just to let you know, on the dev branch, we have base-line support for IOS in progress, and there's now basic bluetooth printing support as well as the ability to set the printer model from JS via setPrinter()

[2017-08-18 06:38] #2 closed

[2017-08-18 06:38] #4 closed

[2017-08-18 06:45] gordol commented on #9
if you're not able to print still, please re-open this issue :) good luck!

[2017-08-18 07:14] dev-fJ-del commented on #9
Thank you again for the awesome work done!
Will give feedback

On Fri, Aug 18, 2017 at 8:45 AM, Thomas Gordon Lowrey IV <
notifications@github.com> wrote:

[2017-08-18 08:09] dev-fJ-del commented on #9
When I build the application template for cordova its giving me the
following error:
[image: Inline image 1]

On Fri, Aug 18, 2017 at 8:45 AM, Thomas Gordon Lowrey IV <
notifications@github.com> wrote:

[2017-08-18 09:04] gordol commented on #9
I can't see that error, can you send the text of the error? Or upload the image somewhere?

[2017-08-18 09:15] dev-fJ-del commented on #9
Build for android is started
Uploading an application template...
Completed
Building status: pending (5 attempts)
*Building status: error (List<Bitmap> cannot be converted to
ArrayList<Bitmap>)*
Removing the application template...
Completed
*Error: Building status: error (List<Bitmap> cannot be converted to
ArrayList<Bitmap>)*

On Fri, Aug 18, 2017 at 11:05 AM, Thomas Gordon Lowrey IV <
notificat

[2017-08-18 09:20] gordol commented on #9
Seems to me that code is from Brother...

https://github.com/gordol/cordova-brother-label-printer/pull/11/files#diff-7ffdcc51506a24e861e75e002ed22eddR19

I have asked the author to take a look.

[2017-08-18 13:15] arcadius commented on #8
Hello @gordol
Thank you very much for letting know.
I think it would be best if we try merging so that we avoid duplicate of effort

# Common JavaSript interface
In my fork,
https://github.com/MenelicSoftware/cordova-plugin-brother-label-printer/blob/master/www/printer.js
I have exposed only one single interface.:
[code]
This internally does the printer finding etc ....
So, in the mobile app, one

[2017-08-18 13:27] arcadius commented on #7
@gordol  and @Ayiga , this PR looks awesome.

For now, I am still working on delivering my app on Android first.

So, at the moment, I do not yet have the capability of testing this on iOS :-(
But I will give it a go as soon as I am done with Android and Windows.
:+1:

[2017-08-18 20:23] gordol commented on #8
i don't think a single JS interface is sufficient, firstly, because there may be more than one way to print, and users may want to use use one or another. secondly, we also support pushing PJL to the printer via USB, this can be used, for example, to configure the printer's network settings, etc... from cordova, over usb. see here: https://github.com/gordol/PJL-Generator

that being said, if you w

[2017-08-18 20:31] gordol commented on #9
Try now, he made a change to use a normal List now.

[2017-08-18 23:28] arcadius commented on #8
Thanks @gordol  for mentioning PJL.

Yes, we could have one interface for sending printer configurations/commands and one for the actual printing operation.

This is not a fire and forget as such.
When you try to print and let's say the printer is off or no paper or something, you will still get an error message .... So you know what whent wrong.

[2017-08-19 09:15] gordol commented on #8
Okay, I still want to keep the separate methods, ideally.

If you want to send a PR for an additional method that encapsulates the others, to attempt the first printer that is found, that would be reasonable.

The feature you want should be done fully in JS/Cordova space, I think, to avoid the necessity to port native code to all of the platforms. You can throw in an additional method in www/print

[2017-09-25 23:01] tagercito opened #16 "ERROR_WRONG_CUSTOM_INFO -> TD-2130N"
I'm trying to implement a TD-2130N but I keep getting this error:

ERROR_WRONG_CUSTOM_INFO

Documentation says : Wrong information in custom paper setting file

I've tried adding the .bin file in the “customPaperFileSet” path in the sdcard (and upload it to the phone):

but same message.

Documentation also says that it should work this way:

but in that way I wouldn't be specifying the path to th

[2017-09-27 00:26] tagercito commented on #16
I have also tried getting the path to the custom paper from the environment with the correct path.

[2017-09-27 09:29] aabanaag opened #17 "Unable to install plugin"
![image](https://user-images.githubusercontent.com/2245822/30906108-658a530e-a3a9-11e7-9c6d-e327ec59f943.png)

cordova version: 7.0.1

[2017-09-27 10:07] aabanaag commented on #17
This problem is probably because you use cordova 7. Try use the --nofetch
option to get the previous behaviour of the cordova.

cordova plugin add {plugin-name} --nofetch

The cordova 7 uses the npm to install the plugins, and probably your npm is
not globally installed, or misconfigured.

[2017-09-27 10:07] #17 closed

[2017-09-27 14:27] aabanaag opened #18 "Change findNetworkPrinters response format"
Hi, would it be possible to change the format of the response from findNetworkPrinters?

currently I'm seeing `[{nodeName=printer-1,ipAddress=123.55.12.1}]` is it possible to convert it to proper format?

[2017-09-27 16:09] gordol commented on #18
what do you mean by "proper format"?

[2017-09-27 16:10] aabanaag commented on #18
I mean proper array format? `[{nodeName: 'printer-1', ipAddress: '123.331.223.12'}]`

[2017-09-27 16:11] aabanaag commented on #18
Also totally not related to the question/issue but how would I change the orientation when printing?

[2017-09-28 05:00] tagercito commented on #16
Fixed it.

Had to export the .bin file specifically for 1 paper type in order for the app to get it.

TD_2130N works with the plugin.

You just have to set customPaper and add a .bin file in a folder called /customPaperFileSet/ in the root of the sdcard.

[2017-09-28 05:00] #16 closed

[2017-09-28 21:46] gordol commented on #16
cool!

did you test the dev or master version?

[2017-11-29 09:44] chetuBhadra93 opened #19 "Can't Install plugin for Ionic 2 and above"
Hello,
I am getting error while installing this plugin. I am using Ionic 2. Following are error which i am getting.
Error: Failed to fetch plugin.
Probably this is either a connection problem, or plugin spec is incorrect.

Can any one help me to resolve this issue.

Thanks.

[2017-11-30 03:19] gordol commented on #19
Hi, maybe it's not handling the redirect?

Try this URL: https://github.com/gordol/cordova-brother-label-printer

[2017-11-30 10:40] chetuBhadra93 commented on #19
Hey,
Thanks for your response.

I am facing still same issue while adding plugin.
![brotherserror](https://user-images.githubusercontent.com/21984573/33426747-e9463908-d5e8-11e7-87e8-3508be82bdf8.png)

Please give some solution because ionic native printer plugin not detecting brother's printer.

[2017-11-30 16:50] gordol commented on #19
`cordova plugin add git+https://github.com/gordol/cordova-brother-label-printer.git`

[2017-11-30 16:50] #19 closed

[2017-12-01 12:38] chetuBhadra93 opened #20 "Is there any way to pass HTML for print label..?"
Hello,
I have application which has requirement like, I need to pass HTML to printer and that should printed as label.
I successfully implemented this plugin, but I could't not pass base64 string because I don't want to print image i want to print HTML based dynamic labels.
And I also want to know about iOS support for this plugin.

So can you please help me to figure out this issue.

[2017-12-06 13:11] naressh opened #21 "printViaSdk always returns 'ERROR_WRONG_LABEL'"
First of all, I would like to thank you for the great plugin. It is more useful.

I am using Brother QL-710W printer over wifi. I have installed this plugin on my ionic app. To set the printer I am calling 'findNetworkPrinters' and then 'setPrinter'. After that passing base64 format bmp(height:96px, width:192px) to 'printViaSdk' method of plugin. But it is always returning "ERROR_WRONG_LABEL".

It

[2017-12-06 14:23] naressh commented on #21
i have loaded 29 mm continuous roll. I am unable to find the specific issue, can you please help me with the correct base64 string which can be processed? It helps me find out if it is the issue with the script or base64 string that I am passing.

[2017-12-06 15:12] naressh commented on #21
I tried with 62mm continuous roll. I can able to print now. But unable to set height and width for the label. The printed image occupying the whole height of the label and minimum width is 3" always.
Please let me know where can I change the width and height of the image which needs to be printed on the label.

And for the 29mm roll, still, I am not able to print anything. Getting the same error "

[2017-12-07 13:51] chetuBhadra93 commented on #21
Hello @naressh ,
I have same printer QL-710. But i couldn't find these printer in wifi, so can you please share your code with me. It will help me a lot. I have successfully install plugin but i couldn't find printer in findNetworkPrinters.

So if you share code, it will help me a lot.
Thanks.

[2017-12-11 13:52] chetuBhadra93 opened #22 "printViaSDK gives error"
Hello,
I am getting following error after calling printViaSDK.

Error: "The passed in data did not seem to be a decodable image.
Please ensure it is a base64 encoded string of a supported Android format"

I am passing base64 string. So please give any sample base64 string or give some feedback.

Thanks.

[2017-12-11 21:39] VictorCoding commented on #22
are you including `data:image/png;base64`, if so you shouldn't. just include everything else after that.

[2017-12-11 21:42] VictorCoding commented on #21
@naressh the label size is hardcoded. you'll have to change it to 29mm if you just want to use that. look in the file `BrotherPrinter.m`, line 355.

[2017-12-11 21:44] gordol commented on #21
@VictorCoding perhaps you can link to the source line you are talking about, because line 355 in both master and dev, neither points to what you state.

The label size is not hard coded as far as I know.

[2017-12-11 21:46] gordol commented on #22
Correct, you should only send the image data. It does not specify to use a data URL, but base64 encoded image.

[2017-12-11 22:18] VictorCoding commented on #21
@gordol @naressh um...
https://github.com/gordol/cordova-brother-label-printer/blob/dev/src/ios/BrotherPrinter.m#L355

[2017-12-11 23:03] VictorCoding opened #23 "printViaSDK callback does not run when encountering WLAN error"
I've purposely been triggering a network error to occur when calling printViaSDK by having my ipad connected to a different network than that of the brother printer, however the callback never gets runned, instead I see this in my safari and xcode consoles `error: Error occured while WLAN printing`. Which is line `557` in `BrotherPrinter.m` file.

https://github.com/gordol/cordova-brother-label-pr

[2017-12-11 23:05] gordol commented on #21
Oh, you're talking about IOS...

That's not hard coded, FWIW, it does have a default, which can be overridden w/o changing the code.

[2017-12-11 23:10] gordol commented on #23
What is outputted by this line:

`NSLog(@"Communication Result: %d", result);`

If there is a result, then line 557 would never be executed.

I didn't write this IOS code, so I can't be of much help...

You're running off the Dev branch, which I'm not really supporting yet.

If you have issues, please follow up here: https://github.com/gordol/cordova-brother-label-printer/pull/11

So the author ca

[2017-12-11 23:10] #23 closed, assigned to nobody

[2017-12-11 23:12] #7 closed

[2017-12-11 23:13] #8 closed

[2017-12-11 23:14] #9 closed

[2017-12-11 23:14] VictorCoding commented on #23
@gordol Just fyi, what I'm saying is that there is NO result, which is why line 557 IS getting run. And that's where it ends, I dont get my callback invoked.

Thanks, i'll go ahead and take it to that other issue.

[2017-12-11 23:19] gordol commented on #18
Can you provide more details? What platform are you testing on? What branch?

findNetworkPrinters on master should be returning a JSONArray, which Cordova handles the serialization of, not us...

See here: https://github.com/apache/cordova-android/blob/master/framework/src/org/apache/cordova/PluginResult.java#L46

[2017-12-11 23:19] #20 closed, assigned to nobody

[2017-12-11 23:21] gordol commented on #21
@naressh please specify what platform and branch you are using.

[2017-12-12 05:48] naressh commented on #21
@VictorCoding & @gordol, thanks for your kind assistance. I am using Android platform, dev branch. I changed the label size in BrotherPrinter.java. Still, I was not able to print. So that I changed the **mPrinterInfo.labelNameIndex = 5;** then it started working.

Now I would like to print multiple labels. I hardcoded the no of copies in BasePrint.java i.e., **mPrinterInfo.numberOfCopies = 3;**. B

[2017-12-12 09:37] chetuBhadra93 commented on #22
Hello,
Thanks for your response.
I tried that too. But when i pass base64 string without data:image/png;base64, the app is crashed.
So can you provide me a sample code for it.

When I try to debug in BrotherPrinter.java file, I note one thing I got base64 image but my application is crashed when **"mBitmapPrint.print();"** is called.

Thanks in advance.

[2017-12-13 02:47] gordol commented on #21
Why not just send multiple print commands in sequence?

Either way...

Have you tried setting the sharedPreference key instead of hard-coding, and that didn't work, so you tried to hard code it?

Can you try the master branch, and try setting numberOfCopies, to see if that works?

To be honest, I have not even tested the dev branch yet since merging all these changes from everyone.

[2017-12-13 02:57] gordol commented on #21
You would need to store the index offsets for each of the below label options, and then let your users set them into `mPrinterInfo.labelNameIndex` from some UI via a Cordova call in `BrotherPrinter.java`.

[code]

However, I think this may not even be necessary. Doesn't the printer detect the type of label spool that is inserted? We then query the printer, to ask it, as shown here: https://github.

[2017-12-13 03:03] gordol commented on #22
@chetuBhadra93 can you share your code?

What platform are you on?

Have you tried the master branch?

I cannot vouch for the validity of the dev branch, as it is un-tested.

[2017-12-13 10:01] chetuBhadra93 commented on #22
Hello,
Thanks for response.
I am using android platform and dev branch.

[2017-12-13 20:05] gordol commented on #22
Does the master branch work for you? @chetuBhadra93

[2017-12-25 08:37] chetuBhadra93 commented on #22
Yes, I tried master branch. I got printer in findPrinter but when i call printViaSDK it does not give any error but it also not printing anything. And when i try to debug I log this info.
**"Model: QL_720NW Port: NET PrintMode: ORIGINAL Orientation: PORTRAIT PaperSize: CUSTOM ipAddress: 192.168.x.xx macAddress: 54:xx:xx:xx:xx:xx"**

My model number is: QL-810.

what should i pass for my model in t

[2018-01-01 14:15] chetuBhadra93 commented on #22
I successfully print label for Model QL-810 using Master branch for android platform.

[2018-01-01 14:16] #22 closed, assigned to nobody

[2018-01-02 12:12] chetuBhadra93 opened #24 "Is dev branch working for iOS platform"
Hello, I have QL-810W. And I want to print from iOS. So dev branch plugin working for QL-810W...?

[2018-01-04 07:04] chetuBhadra93 commented on #24
Hello @gordol ,
Can you please let me know dev branch is working for QL-810W wireless printer..?
I will help me to focus and work on it for my iOS application.

[2018-01-04 07:08] gordol commented on #24
I don't know, the changes on the dev branch were done by others here: https://github.com/gordol/cordova-brother-label-printer/pull/10

Please use https://github.com/gordol/cordova-brother-label-printer/pull/11 for further discussion about IOS efforts.

[2018-01-04 07:08] #24 closed, assigned to nobody

[2018-03-09 02:51] NgYueHong opened #26 "Upgrade the Bundled SDK"
This is the awesome plugin I have been searching for. It would be great if the bundled SDK can be upgraded to the latest version to keep it relevant and useful for everyone, especially those with newer model of printer.

[2018-03-09 05:03] gordol commented on #26
Do you know if the latest SDK is compatible?

Pull requests are welcomed.

[2018-03-09 14:44] cpgb85 opened #27 "Broken in Cordova 8"
Looks like this plugin is broken in cordova 8.  I get the error that /platforms/android/AndroidManifest.xml does not exist. It looks like Cordova changed the folder structure.

[2018-03-09 23:36] gordol commented on #27
Hmm...

The platform manifest file should be created at run-time, right?

See here: https://github.com/gordol/cordova-brother-label-printer/blob/master/plugin.xml#L39
[code]

According to the release notes, this actually changed in Version 7 of Cordova, not 8.
https://cordova.apache.org/announcements/2017/12/04/cordova-android-7.0.0.html

[code]

Can you give that a try? If it works, I'm happy to

[2018-03-09 23:39] gordol commented on #27
We may need to overhaul permissions to request at run-time too...

[2018-03-09 23:42] #21 closed, assigned to nobody

[2018-03-09 23:43] #18 closed

[2018-03-09 23:49] gordol commented on #26
@NgYueHong please try this and let me know if it works:

https://github.com/gordol/cordova-brother-label-printer/tree/brother-sdk-upgrade

[2018-03-21 06:50] eugenedw opened #28 "NPE When Printing"
I've built and rebuilt but continue to receive nullpointerexceptions in logs when trying to print:

java.lang.NullPointerException: Attempt to get length of null array
    at com.brother.ptouch.sdk.Printer.tempFileDelete(Printer.java:766)
    at com.brother.ptouch.sdk.Printer.finish(Printer.java:1756)
    at com.brother.ptouch.sdk.Printer.getLabelInfo(Printer.java:1570)
    at com.brother.ptouch.s

[2018-03-21 12:33] gordol commented on #28
What branch and revision are you on?

Are you using the latest brother SDK or the older one?

Looks to me like that NPE is coming from within the SDK... but maybe something changed in recent versions and we need to update the BrotherPrinter.java module.

[2018-03-21 23:14] eugenedw commented on #28
Thanks for writing back. And also, thank you for putting in the work to create this plugin. Great job!

I spent several hours digging into this since my post. I went as far as downloading, building and debugging the sample app that comes with the latest Brother SDK. After researching, it turns out that there were two key issues:

1. There needs to be an explicit permissions request before printing

[2018-03-23 21:08] cpgb85 opened #30 "Need directions"
This page has no examples or directions on how to use this in the app.

[2018-03-23 22:49] gordol commented on #30
https://github.com/gordol/cordova-brother-label-printer#usage

[2018-03-23 22:49] #30 closed, assigned to nobody

[2018-03-24 18:55] eugenedw commented on #28
In the latest update to the fork I'd created prior to the pull request, I've added the ability to print a pdf with the plugin. Really needed that function.

[2018-03-27 21:28] gordol commented on #28
Isn't the PDF functionality exempt from the public SDK? I believe it was previously, anyway... and it required a non-distributable library. The one included with the SDK watermarked the PDFs, and was limited in other ways too, I believe.

I'm happy to support it, but we need to be careful in how we implement it, if these restrictions still exist.

[2018-03-27 21:31] gordol commented on #28
I have a QL720NW here too, but I haven't worked with this plugin in well over a year or so. Previously the SDK supported a method to read the current label in the printer, and it was not necessary to hard-code it. Was there a regression there on Brother's part in the newer SDK? Or is there a problem in the current implementation of reading the label from the printer itself? It should not need to b

[2018-03-27 21:33] gordol commented on #28
My point is, I have the contact info for some people at Brother, and if there's a legitimate regression here, and the deprecated method is the one that reads the label from the printer... well... I'm going to give someone an ear-full. ;)

[2018-03-27 21:34] gordol commented on #28
We could always build up a monstrosity of hard-coded configurations for each printer in a huge switch statement or something, but that really is horrible, and shouldn't be necessary. :(

[2018-04-02 15:37] cpgb85 commented on #30
pointing to your own project that  has almost no documentation on how to use it is not proof of having documentation. Give us some test samples.

[2018-04-02 15:45] gordol commented on #30
It is pretty well documented, if I say so myself. What more do you want?

There are only 3 methods.

findNetworkPrinters()
printViaSDK()
sendUSBConfig()

**findNetworkPrinters** must be called before printViaSDK. It takes no parameters and returns two parameters, one is a boolean (whether a printer was found or not), and the other is a list of found printers. To print, all that's needed are the IP

[2018-04-02 15:56] cpgb85 commented on #30
I love reading directions by programmers.

[2018-04-02 16:04] gordol commented on #30
better get used to it haha

[2018-04-25 11:40] stanislavdavid commented on #27
is is broken in cordova 8 which includes cordova-android 7 :-)

[2018-05-02 14:26] daniel7912 opened #32 "App crashing when using a base64 encoded image for printViaSDK function"
Hi,

I have set up the plugin and I can find a list of printers OK. I am now trying to use the printViaSDK function but the android app is crashing when I call it. There are no errors in the console window.

To get the base64 string, I created a bitmap image, converted it to base64 and removed the `data:image/bmp;base64,` text from the front of the string. Is this correct?

This is my code (sorry

[2018-05-02 20:26] askinsaglam commented on #32
I have also same issue. Do you have any code sample? how do you call that function? Thanks in advance @gordol

[2018-05-02 20:27] gordol commented on #32
what is the stack trace from the crash?

[2018-05-02 20:28] gordol commented on #32
and you are calling findNetworkPrinters before calling printViaSDK, correct?

[2018-05-03 07:58] daniel7912 commented on #32
Hi @gordol, yes I call findNetworkPrinters beforehand and that works fine. If I try calling printViaSDK without calling findNetworkPrinters first, the app shows me an error telling me that I need to run the other function first but the app does not crash.

I'm not sure if this is what you need but I ran `adb logcat -v time` in my terminal while running the app, and this section looks as though it'

[2018-05-03 17:38] gordol commented on #32
Hmm...

What architecture is your Android device? Also what version of Android?

Looks to me like it's not loading one of the files from the Brother SDK, which is located here: https://github.com/gordol/cordova-brother-label-printer/tree/master/src/android/libs/armeabi

How are you running this app, within Android Studio, or on a native device? Perhaps Gradle needs to be setup to copy the JNI libs

[2018-05-03 20:14] daniel7912 commented on #32
I've tried on 2 native devices and both had the same result.

1. Samsung Galaxy S8 - Android v8.0.0, CPU Architecture ARMv8-A
2. Amazon Fire 7 - Fire OS 5.6.1.0, CPU Architecture Mediatek MT8127

My app is built using Ionic and I'm installing the apps on the device using `ionic cordova run android`

Unfortunately I've never worked directly with Gradle. Do you know how I can set it up to copy the J

[2018-05-14 12:16] B-PRAVEEN opened #33 "[INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]"
cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.19.2
    ionic (Ionic CLI) : 3.20.0

global packages:

    cordova (Cordova CLI) : 8.0.0

local packages:

    @ionic/app-scripts : 3.1.9
    Cordova Platforms  : android 6.4.0
    Ionic Framework    : ionic-angular 3.9.2

System:

    Android SDK Tools : 26.1.1
    Node              : v8.11.1
    npm               : 5.6.0

[2018-06-19 01:13] arcadius opened #34 "Plugin does not compile in Xcode Version 9.2 (9C40b)"
First of all, thank you very much @Ayiga and others for the great work on the original iOS plugin.

I have installed this plugin and it won't compile on Xcode Version 9.2 as it keeps complaining about `APPingModule.h`

Please see screenshot.

Is there any special config or setting that I need?

Many thanks.

![screenshot](https://user-images.githubusercontent.com/1615850/41570293-1302950a-7366-11e

[2018-06-19 14:03] VictorCoding commented on #34
I had those compile errors as well, just comment them out. After you comment out those lines you'll get more compile errors, just keep commenting them out until it works. I ended up forking that branch so that I didn't have to do that everytime. I know it's not the best thing to do but I needed to get it up and running.

[2018-06-19 15:00] arcadius commented on #34
Thanks @VictorCoding   for the tip :-)

[2018-06-19 19:03] gordol commented on #34
*cringe*

I'm sorry all... I have not had time to maintain this thing lately... and I haven't even attempted to build or test the iOS fork, just trusted the community.

I'm moving soon, but I did find my label printer, and my old iPad, so I should be able to dust this thing off soon, in the coming month or so.

[2018-07-05 10:21] saefulloh opened #36 "Install plugin in ionic 2 error when build"
![image](https://user-images.githubusercontent.com/3794312/42317884-a3b74f3c-8077-11e8-83c4-4fa7e9b1f26a.png)

Install - done
but when i'm tryng to run android it's not work.
i don't change my code. just add plugin and run/build.

tks before for help

[2018-07-07 08:59] saefulloh commented on #36
error on android@7, solve by add platform androd@6

[2018-07-07 08:59] #36 closed, assigned to nobody

[2018-07-07 09:00] saefulloh opened #37 "Usage in Ionic 2 above"
![image](https://user-images.githubusercontent.com/3794312/42409070-d852d530-81fe-11e8-9f7c-8c4f43de8946.png)

Please Help, i don't know how call this plugin !!

[2018-07-08 00:01] saefulloh commented on #37
Solve
https://stackoverflow.com/questions/51221612/how-to-call-cordova-brother-label-printer-plugin-in-ionic-2-3/51222439#51222439

[2018-07-08 00:01] #37 closed, assigned to nobody

[2018-07-08 00:31] saefulloh commented on #21
I'm using
https://github.com/Ayiga/cordova-brother-label-printer

android, print ql-820wnb label W29H90 29 mm × 90 mm

i'm using bluetooth. i have same error.
please help. "ERROR_WRONG_LABEL"

[2018-07-08 12:37] saefulloh commented on #21
//editor.putString("paperSize", LabelInfo.QL700.W62.toString());
            editor.putString("paperSize", LabelInfo.QL700.W29H90.toString());

change in line 359. It's Work.

[2018-07-18 19:14] VictorCoding opened #38 "What brother sdk version does this plugin use?"
I dug around the plugin source code but I couldn't find any reference that states the brother sdk version.

[2018-07-29 13:16] rhohn94 commented on #34
I can't get the plugin to compile, either. I get the same errors as arcadius. I can either comment them out or replace them with __Check_Compile_Time(), which also seems to work. But, after that, I get errors like this:

![screen shot 2018-07-29 at 8 09 54 am](https://user-images.githubusercontent.com/40176545/43366685-781f9044-9307-11e8-928e-6b4dd0064564.png)

It looks like I'm missing a library

[2018-07-29 13:36] arcadius commented on #34
Hi @rhohn94
The compilation issues among others are fixed in pull request
https://github.com/gordol/cordova-brother-label-printer/pull/35
You can install that fix by following instructions in the top comment.
Thanks

[2018-07-29 15:20] rhohn94 commented on #34
@arcadius, thanks for the reply -- I'm trying with your fork now, but still get the Mach-O Linker error. I no longer get the check_compile_time errors, though. I am using Xcode version 9.4.1, if that's any help.

[2018-07-29 15:46] arcadius commented on #34
@rhohn94 ... possibly uninstall the old plugin that does not compile... and make sure it's all gone before installing the new one.
After un-installing the old one, you may need to remove the ios platform and re-add it,
Then make sure it all compile and can run before you install the one from the pull request with:

`cordova plugin add https://github.com/MenelicSoftware/cordova-plugin-brother-label

[2018-08-01 19:30] rhohn94 opened #39 ""CGBitmapContextCreate: unsupported parameter combination" when trying to print"
The code that I am using is based on Ayiga's pull request, pull request #15 .

The error, however, comes from BRPtouchPrinter.print, and seems to be caused by bad parameters being passed to a call to CGBitmapContextCreate. Here's the exact error message that I get:

![38171742_1876559235981706_8463269181737926656_n](https://user-images.githubusercontent.com/40176545/43543993-43071444-9597-11e8-8de

[2018-08-01 19:37] #39 closed, assigned to nobody

[2018-08-01 21:43] gordol commented on #39
the brother sdk requires a bitmap, not jpeg. if their native sdk can convert other formats, great, but i'm not sure...

[2018-08-28 14:26] kieranbarlow opened #40 "Ionic - undefined is not an object"
I'm trying to use this plugin with a new Ionic app, when pulling in the plugin and calling the plugin in my home controller as a test, hooking up a button to fire one of the functions on this plugin. Code & error message below.

I'm testing this via the Ionic Serve command with the Ionic DevApp.

**Part of my home component**
[code]

**Test Function**
[code]

**Error Message**

[2018-08-28 17:20] gordol commented on #40
dunno what to tell you... what specifically is undefined? you didn't say...

make sure the plugin is actually installed, regenerate platform if need be. what platform btw?

sorry I can't be more help, you didn't give much to go on. shouldn't you use $ionicPlatform.ready and $window.cordova?

[2018-08-28 17:24] gordol commented on #40
https://ionicframework.com/docs/v1/angularjs/utils/platform/

[2018-10-03 12:43] ykrasnokutskiy commented on #32
Hi! Great work!
Unfortunately, can't get it working on my project.
My app crashes each time I try to send base64 image uding printViaSDK.
Before doing that I did findBluetoothPrinters, setPrinter

![image](https://user-images.githubusercontent.com/8949714/46410864-e0da0480-c722-11e8-82c5-7faaf584ab9e.png)

Using IntelliJ (Cordova Android 6.4.0) and running it on device with Android 7.0

How can I

[2018-10-03 13:06] ykrasnokutskiy commented on #32
Did you find how to run it without app crashing?

[2018-10-04 01:26] gordol commented on #32
Looks to me like y'all don't have the Brother Android SDK installed properly, as that library is included with it. Otherwise, it doesn't match your architecture... Either way, it's not an issue with this Cordova extension.

[2018-10-05 10:14] ykrasnokutskiy commented on #32
@gordol you're right. After I added libraries manually, it stopped crashing.
In any case, still can't print even simple text. Can you (if this is not too difficult for you) show me direction where to dig please?

[2018-10-16 09:59] LucaStorto opened #41 "Crush in android 8 oreo"
Hello
I wanted to report that in Android 8 hours or the plugin does not work .. tested with honor 9 lite and huawei mediapad m5
whether the printsdk method or the printwifi is used

[2018-10-21 01:45] gordol commented on #32
Sorry, I just saw your latest message @ykrasnokutskiy

I'm happy to jump on a screen share and try to help you, but I would probably need to bill you for the time. Would that be acceptable?

[2018-10-21 17:11] ykrasnokutskiy commented on #32
Sent you email :)

[2018-10-26 00:14] gordol commented on #41
Can you provide more details? What Cordova version are you using, which Brother SDK version, and which version of this plugin?

[2018-10-26 00:14] gordol commented on #41
Also a stack trace would be helpful....

[2018-10-26 00:15] gordol commented on #40
Hello, did you ever figure this out? Feel free to re-open if you still have issues.

[2018-10-26 00:15] #40 closed, assigned to nobody

[2018-10-26 00:17] gordol commented on #34
Indeed, with cordova/ionic you need to add/remove the platform after you make changes... at least, historically. Feel free to re-open this if y'all are still having issues.

[2018-10-26 00:17] #34 closed, assigned to nobody

[2018-10-26 00:18] gordol commented on #38
It depends which branch and revision you're using...

The SDK version is documented in the Readme though.

https://github.com/gordol/cordova-brother-label-printer/compare/brother-sdk-upgrade

[2018-10-26 00:18] #38 closed, assigned to nobody

[2018-10-26 00:31] gordol commented on #33
The brother SDK has native libraries that are pre-compiled, and does not support the architecture you're attempting to test with.

Read more about ABIs here: https://developer.android.com/ndk/guides/abis

The Android SDK that is currently bundled only supports ARM CPUs, but your android emulator is likely using x86.

You can update to the latest brother SDK from here: http://www.brother.co.jp/eng/

[2018-10-26 00:31] #33 closed, assigned to nobody

[2018-10-26 00:31] #41 closed, assigned to nobody

[2018-10-26 00:32] #32 closed, assigned to nobody

[2018-10-26 00:33] #28 closed, assigned to nobody

[2018-10-26 00:33] #27 closed, assigned to nobody

[2018-10-26 00:34] #26 closed, assigned to nobody

[2018-10-26 06:57] LucaStorto commented on #41
hi I've been using
8.1.2 (cordova-lib@8.1.1)
Ionic 4.2.1
brother sdk 3013
plugin version 0.0.3

also using the dev repository plugin and in bluetooth you have the same problem using the platform android@7.1.1

[2018-12-18 18:09] thebbel opened #43 "Printing failed"
We use the brother-sdk-upgrade branch. We try to print on the Brother QL820NWB. The printer is found by the plugin and can be selected. The printViaSDK function also calls the success callback. But nothing is printed. The status message displayed is ERROR_BROTHER_PRINTER_NOT_FOUND.

Here is our code:

var objPrintersAll = [];

document.addEventListener('deviceready', function(event) {
	printerSear

[2018-12-23 15:01] aadevsol opened #44 "ENOENT: no such file or directory, open"
On android 7.0.0 after I install the plugin I receive the following error:

(node:17824) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open 'path\platforms\android\res\xml\config.xml'

can somebody help me with this? I really need to make this work, please

[2018-12-23 15:07] aadevsol commented on #44
If I downgrade to android 6, it works ... but when I try cordova.plugins.brotherPrinter.findPrinters , I receive the following message : cordova.plugins.brotherPrinter.findPrinters is not a function

there is no functions on cordova.plugins.brotherPrinter

any solve for this?

[2018-12-23 15:28] aadevsol commented on #44
I succeeded to make it work using this plugin https://github.com/MmtBkn/cordova-brother-label-printer

but now I have another problem:  cordova.plugins.brotherPrinter.findPrinters returns an empty array ... what should I do to make it work?

[2018-12-27 17:35] gordol commented on #44
i don't provide support for forks, sorry... ask the author of the fork.

[2018-12-27 17:35] #44 closed, assigned to nobody

[2018-12-27 17:37] gordol commented on #43
Can you send the output of objPrintersAll array after printerSearchSuccess() is called?

[2018-12-27 17:38] aadevsol commented on #44
Ok, then you know why I have the first bug? because the first one is not a fork

[2018-12-27 17:44] gordol commented on #44
I can't really help you without seeing your project.

Are you using Cordova, or Ionic?

What versions of Cordova/Ionic?

What version of Android studio are you using?

You have not provided enough details to assist with your issue.

Simply downgrading your cordova android version is not sufficient, you must completely remove and re-install your plugins. This is a standard cordova workflow, it has

[2018-12-27 17:46] aadevsol commented on #44
I am using ionic 3 , version "3.9.2"
I installed the plugin using cmd in solution folder, and this command : "cordova plugin add git+https://github.com/gordol/cordova-brother-label-printer.git"

I think that I use the latest version of android studio

[2018-12-27 17:48] gordol commented on #44
Have you tried searching the internet with your error message? I find tons and tons of messages from frustrated Ionic and Cordova users... I don't think these errors have anything to do with this plugin.

https://www.google.com/search?q=UnhandledPromiseRejectionWarning%3A+Error%3A+ENOENT%3A+no+such+file+or+directory%2C+open+%27path%5Cplatforms%5Candroid%5Cres%5Cxml%5Cconfig.xml%27

[2018-12-27 17:49] aadevsol commented on #44
Yeah, I searched and found a lot of messages like that one but none worked ... I think that you are right and it is a Ionic problem ... Omg I am so done with hybrid apps

[2018-12-27 17:50] gordol commented on #44
Most of these issues are probably caused by the move from eclipse style projects to android studio style projects. Ionic is a buggy mess, and I haven't developed using it in many years. Sorry, I can't be of more assistance. Hybrid apps are a pain in the ass... but so are native.

[2018-12-27 17:50] gordol commented on #44
I would try to follow the Ionic setup guide from scratch, and maybe it'll work.

[2018-12-27 17:50] aadevsol commented on #44
Thank you for your time, I will try again and come back with an answer to help others... thanks

[2018-12-27 17:51] gordol commented on #44
This may be relevant: https://gist.github.com/joeljeske/68121fa6d643e0937f50458d0172e16e

[2018-12-27 17:51] gordol commented on #44
For sure! Sorry you're having so much trouble...

[2018-12-27 17:52] gordol commented on #44
https://ionic.zone/cordova/update

[2018-12-27 17:52] gordol commented on #44
Maybe your tooling is just out of date.

[2018-12-27 17:54] aadevsol commented on #44
this might be a problem, will definitely  try to update this, thank you man

[2018-12-27 17:59] gordol commented on #44
No problem... Good luck.

[2018-12-27 18:48] thebbel commented on #43
This is the output as JSON string:
[{"model":"QL_820NWB","port":"BLUETOOTH","modelName":"QL-820NWB1259","macAddress":"CC:78:AB:8C:F6:7F"}]

There is only one printer found, which is correct.

[2019-01-17 14:13] dandray commented on #43
Hi,
I also try to print to the same model than you, from an ionic app.
I tried with the normal plugin "printer" and the brother printer gives me an error : "Wrong roll type".
Afterwards I tried with this plugin, by just calling  cordova.plugins.brotherPrinter.printViaSDK() function, passing a bitmap image (via document.getElementById('image') which is a bmp image in my html, but it says to me that

[2019-01-17 22:38] gordol commented on #43
@dandray did you ensure the image is encoded properly, and isn't a raw bitmap?

From the docs:

[2019-01-17 22:39] gordol commented on #43
You don't say what branch you're using, but from the dev branch, the following code is used for printViaSDK image decoding. As you can see, it requires a base64 encoded bitmap.

[code]

bmpFromBase64 looks like this:
[code]

[2019-01-20 08:25] dandray commented on #43
Hi @gordol,
Thank you for your answer. Actually I just converted online a png image into a bmp to do my test. I don't know how I can see this information, but like you said I guess that it is not a base 64 encoded bitmap image.
Concerning the branch that I use, I am not sure because I installed it through "cordova plugin add cordova-brother-label-printer", and I don't see in the README or in the L

[2019-11-07 07:49] hermaniskan commented on #21
Hi @gordol , is this plugin will work with Direct Wifi Printer ?

[2019-11-07 08:05] hermaniskan opened #47 "can't find printer over wifi with FindNetworkPrinter"
i can't find my printer with FindNetworkPrinter, i'm using Brother PT-P750W direct wifi

[2020-01-28 06:05] firdaus48 commented on #22
Hello,
I am getting following error after calling printViaSDK.

Error: "Unexpected Internal System Error: IllegalArgumentException"

using printer brother QL-1110NWB

Thank you. please help

[2020-01-28 06:18] firdaus48 commented on #43
Hi @gordol ,
I am getting following error after calling printViaSDK.

Error: "Unexpected Internal System Error: IllegalArgumentException"

using printer brother QL-1110NWB

this is my code
 let image = "isbase64Image"; //sample actually use base64
  cordova.plugins.brotherPrinter.printViaSDK(image, function (printResult) {
    //var printResult = callback;
    console.log(printResult);
  },functio

[2020-01-28 13:30] VictorCoding commented on #22
@firdaus48 can you show us your code?

[2020-02-08 09:53] firdaus48 commented on #22
@VictorCoding this issue has been solved, with update the latest SDK that supported QL-1110NWB model.

Thank u

[2020-02-13 15:13] yogeshshsf commented on #22
Hi, i am getting error while calling printViaSDK. The error is '**The passed in data did not seem to be a decodable image. Please ensure it is a base64 encoded string of a supported Android format**'.
I have excluded `data:image/png;base64`  as mentioned by @VictorCoding. can someone help me on this please, thanks in advance.

[code]

[2020-02-13 15:33] VictorCoding commented on #22
Maybe the base64 is corrupted? I would validate that it's actually valid just for a sanity check. Stick it in an image tag to verify.

[2020-02-13 16:35] yogeshshsf commented on #22
@VictorCoding it is a valid image i am display while printing the badge `              <img src="{{base64Image}}" width="200" height="200">
`

[2020-02-13 16:36] VictorCoding commented on #22
@yogeshshsf welp, no idea then 🤷‍♂

[2020-02-13 16:39] gordol commented on #22
Try a bitmap instead of png?

On Thu, Feb 13, 2020, 09:36 Victor Ramos <notifications@github.com> wrote:

[2020-02-13 16:42] yogeshshsf commented on #22
@gordol how to convert base64string to bitmap?

[2020-08-11 17:44] ashwin-dongare commented on #47
the same issue for me in ionic 5. @gordol
Did you find the solution? @hermaniskan